body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background: #0f0f10;
  overflow-x: hidden;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.blue {
  background: #3d31dd;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
}

.dark {
  background: #0f0f10;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #0f0f10;
  transform: translate(85%, 60%);
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #3d31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 219px;
}

.wave .shape-fill {
  fill: #0f0f10;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url(Layer1.svg);
}
