#container
{
    background-color: #082032;
    width: 90%;
    /* height: 600px; */
    margin: 0 auto;
    border: 5px solid darkgrey;
    border-radius: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

h1.flexbox
{
    display: block;
    text-align: center;
    font-style: italic;

}
#container div
{
    height: 200px;
    width: 200px;
    border-radius: 5em;
    text-align: center;
    flex-basis: 200px;
}

h2
{
    text-align: center;
    color: darkcyan;
    font-style: italic;
    font-size: 30px;

}

main
{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

section.sidebar
{
    background-color: #6930c3;
    flex:1 2 300px;
}

section.maincontent
{
    background-color: #80ffdb;
    flex:2 1 800px;
}

@media(min-width: 800px)
{
    h1{
        color: #6930c3;  
    }
}